@use '../theme' as *;
@use '../core' as *;

/* .game-grid {
  @include grid($min: 1fr, $gap: rx(2), $mode: 9);
} */

$game-grid-cell-size: clamp(0.063rem, 0rem + 0.278vi, 0.25rem);

.game-grid {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  gap: $game-grid-cell-size;
  justify-items: center;
}
